<div class="mat-elevation-z8">
  <div fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="5px">
    <mat-card fxFlex="25" *ngFor="let s of qtrdata$ | async; index as i">
        <app-scores-chart [data]="[s]" [qtrlabel]="i+1"></app-scores-chart>
    </mat-card>
  </div>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- date Column -->
    <ng-container matColumnDef="fullname">
      <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fullname }} </mat-cell>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="qtr1">
      <mat-header-cell *matHeaderCellDef> Qtr1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qtr1 | percent }} </mat-cell>
    </ng-container>

    <!-- score Column -->
    <ng-container matColumnDef="qtr2">
      <mat-header-cell *matHeaderCellDef> Qtr2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qtr2 | percent }} </mat-cell>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="qtr3">
      <mat-header-cell *matHeaderCellDef> Qtr3 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qtr3 | percent }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="qtr4">
      <mat-header-cell *matHeaderCellDef> Qtr4 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qtr4 | percent }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Data...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource != null && dataSource.data.length == 0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
