<div class="mat-elevation-z8">
  <div fxFlex fxLayout="column" *ngIf="grades$ | async as grades">
    <app-grade-chart [data]="grades" [categories]="periods"></app-grade-chart>
  </div>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="qtr">
      <mat-header-cell *matHeaderCellDef> Qtr </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qtr }} </mat-cell>
    </ng-container>

    <!-- score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.score | percent }} </mat-cell>
    </ng-container>

    <!-- timespent Column -->
    <ng-container matColumnDef="timespent">
      <mat-header-cell *matHeaderCellDef> Timespent </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.timespent}} sec </mat-cell>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Data...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource != null && dataSource.data.length == 0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
